<!-- <!DOCTYPE html>
    <head>
       <title>Task List</title>
    </head>

    <body>
        <h2>Hello World!</h2>
        <ul>
            {% for task in tasks %}
            <li> {{task}}</li>
            {% endfor %}
        </ul>
    </body>x
</html> -->

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{% block title %}Our blogpage{% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>

    <body>
            {% if user.is_authenticated %}
                <h3>Hello {{ user.username }}</h3>
                {% include 'registration/logout.html' %}
            {% else %}
                <a href = "{% url 'login.html'}">Login</a>
            {% endif %}

            {% block header %}
                <h2>Task List</h2>
            {% endblock %}
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        {% block scripts %} {% endblock %}
    </body>
</html>

